#birth-details:hover {
  cursor: pointer;
}

.education {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

#imgs-container {
  display: flex;
  flex-direction: column;
}

.btns-container {
  margin-bottom: 100px;
}
